@model IEnumerable<GoldenLadle.Models.Event>

@{
    ViewData["Title"] = "Index";
}
<div class="page-body">
    <div class="row page-start">
        <div class="col-sm-12 col-md-2"></div>
        <div class="col-sm-12 col-md-8"><h2 class="text-center">Upcoming Events</h2></div>
        <div class="col-sm-12 col-md-2">
            <p>
                <a asp-action="Create" class="btn btn-outline-secondary btn-block">Create New</a>
            </p>
        </div>
    </div>



@if(Model.Count() == 0)
{
    <div class="row">
        <div class="col-sm-12">
            <img class="mx-auto d-block" src="~/images/sadface.png" />
            <br />
            <h3 class="text-center">No Events Yet! Try Creating One!</h3>
        </div>
    </div>
    
}
else
{ 
    <div class="row">
    @foreach(Event e in Model)
    {
    <div class="col-sm-4">
        <div class="card border-dark mb-3">
            @if (e.FilePaths.Any(f => f.FileType == FileType.Header))
            {
                <img class="card-img-top" src="@e.FilePaths.First(f => f.FileType == FileType.Header).ThumbName" alt="Card image cap">
            }
            else
            {
                <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22894%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20894%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_161e2bf524d%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A45pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_161e2bf524d%22%3E%3Crect%20width%3D%22894%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22331.9000015258789%22%20y%3D%22110.15999908447266%22%3E894x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
            }
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => e.Name)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => e.Description)</p>
                <p><strong>Start Date: </strong><em> @Html.DisplayFor(modelItem => e.StartDT)</em></p>
                <p><strong>End Date: </strong><em> @Html.DisplayFor(modelItem => e.EndDT)</em></p>
                @if (e.Entries.Count() > 0)
                {
                    if (e.EndDT <= DateTime.Now)
                    {
                        <p><strong>Winner: </strong><em>@e.Entries.OrderByDescending(en => en.Value).FirstOrDefault().Name</em></p>
                    }
                    else
                    {
                        <p><strong>Winner: </strong><em>TBD</em></p>
                    }
                }
                <a asp-action="Details" asp-route-id="@e.Id" class="btn btn-outline-success btn-block">View Event</a>
                <a asp-action="Edit" asp-route-id="@e.Id" class="btn btn-outline-secondary btn-block">Edit</a>
                <a asp-action="Delete" asp-route-id="@e.Id" class="btn btn-outline-danger btn-block">Delete</a>
            </div>
        </div>
    </div>
    }
</div>
}
</div>
</div>